body {
  background-image: url('https://ak9.picdn.net/shutterstock/videos/20765329/thumb/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  border-bottom: 3px solid #FFFFFF;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 30;
  font-style: italic;
  font-family: "Lucida Bright";
}

h2 {
  text-align: center;
  font-weight: bold;
}

figure {

}

img {
  border: 1px solid #000000;
  display: block;
  margin: auto; /* centers image within figure element and on page */
}

section {

}

article p {
  text-align: center;
}

ul {
  margin: auto; /* centers list within section and on page */
  width: 30%; /* width of list as a percentage of containing section*/
}

footer {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  border-top: 3px solid #FFFFFF;
}

footer p {
  height: 10%; /* height of text in footer */
}
