body {
  background-image: url('https://ak9.picdn.net/shutterstock/videos/20765329/thumb/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

header {

}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 24;
  font-style: italic;
}

h2 {
  text-align: center;
  font-weight: bold;
}

figure {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

footer {
  text-align: center;
  font-weight: bold;
}
